/* Keep-start */

tr.selected {
  background-color: #0000009c;
}

span[class^='bracket-pair-']:not(.disabled) {
  border: 1px solid #00f8ff;
  padding: 5px 0px;
}

pre code.hljs {
  padding: unset !important;
}

.hljs-ln-n {
  padding: 4px 10px;
  opacity: 0.2;
  text-align: center;
  border-right: 1px #ababab solid;
  margin-right: 5px;
}

code {
  font-size: 14px;
  font-family: monospace;
  font-weight: 400;
}

/* Keep-end */

.width-constraint {
  margin: 0px !important;
  max-width: 100% !important;
}

#script-info,
.user-list,
.text-content,
.discussion-list {
  padding: 0px !important;
}

#script-content {
  margin-top: unset !important;
}

#script-info {
  border: unset !important;
}

#script-info {
  margin: unset !important;
}

pre {
  padding: unset !important;
}

.tabs {
  margin: 0px !important;
}

.code-container {
  max-height: unset !important;
  overflow-x: unset !important;
  border-radius: unset !important;
  border: unset !important;
}

#install-area,
#script-feedback-suggestion,
header {
  display: none !important;
}
